<% content_for :page_title do page_title("Intake Help") end %>

<div class="cf-app-segment cf-app-segment--alt cf-help-content">
  <h1 id="#top">Welcome to the Intake Help Page!</h1>

  <p>Here you will find <a href="#training-videos"> Training Videos</a> and <a href="#faq"> Frequently Asked Questions (FAQs)</a> for Intake, as well as links to the <%= link_to "Training Guide", asset_path("intake_trainingguide.pdf"), target: "_blank" %> and the <%= link_to "Quick Reference Guide", asset_path("intake_quickreference.pdf"), target: "_blank" %>. These items are provided to assist you as you access and use Intake. If you require further assistance after reviewing these items, please contact the Caseflow Product Support Team by phone (1-844-876-5548) or email <a href="mailto:caseflow@va.gov">(caseflow@va.gov)</a>. We look forward to assisting you.
   </p>

   <h1 id="training-videos">Training Videos</h1>
     <div class="cf-help-divider"></div>

     <div class="cf-lead-paragraph">Coming Soon!</div>

  <h1 id="faq">Frequently Asked Questions</h1>

  <div class="cf-help-divider"></div>

  <ul id="toc" class="usa-unstyled-list">
    <li><a href="#what-is-caseflow-intake">1. What is Caseflow Intake?</a></li>
    <li><a href="#how-was-intake-developed">2. How was Intake developed?</a></li>
    <li><a href="#how-to-access-intake">3. How do I access Intake?</a></li>
    <li><a href="#launch-intake">4. How do I launch Intake?</a></li>
    <li><a href="#web-browser">5. Which web browser can I use with Intake?</a></li>
    <li><a href="#telecommuting">6. Does Intake work while I am telecommuting?</a></li>
    <li><a href="#encounter-problems">7. What should I do if I encounter problems?</a></li>
    <li><a href="#suggestions">8. How can I share my suggestions for improving Intake?<a></li>
    <li><a href="#still-need-help">9. What if I still need help? </a></li>
  </ul>
  
  <div class="cf-help-divider"></div>
  <h2 id="what-is-caseflow-intake">1. What is Caseflow Intake?</h2>
  <p>
    Caseflow Intake (Intake) is a web-based application designed to support the Rapid Appeals
    Modernization Program (RAMP). It will help process legacy appeals for Veterans who have
    chosen to opt-in for the new Supplemental Claim (SC) or Higher Level Review (HLR) options.
    Intake will serve as the single intake system for this process. It will allow for identifying the
    selected option (SC or HLR) and details for a given Veteran's issues (pulled from VBMS),
    creating an End Product (EP), sending notifications to the Appellant, routing the EP to the
    appropriate destination, and closing the VACOLS record automatically for eligible opt-ins.
    Intake will guide Claims Assistants (CAs) through the process of notifying Veterans, updating
    necessary systems, and creating End Products (EPs). Intake was built by the Digital Service at
    VA (DSVA) and will create process improvements for many areas of the VA. Learn more:     
    <%= link_to "Training Guide", asset_path("intake_trainingguide.pdf"), target: "_blank" %>
  </p>

  <h2 id="how-was-intake-developed">2. How was Intake developed?</h2>
  <p>
    The DSVA team worked closely with stakeholders across the VA to develop and test Intake.
    Using feedback from VA employees and human-centered design principles, DSVA has tweaked
    and improved the tool steadily. They will continue to improve the tool based on feedback and as
    they have more opportunities to make things simpler. 
  </p>

  <h2 id="how-to-access-intake">3. How do I access Intake?</h2>
  <p>
    To gain access to Intake, you must submit a request to your Information Security Officer (ISO)
    and/or Information Resources Management (IRM) team to adjust your Common Security
    Employee Manager (CSEM) permissions. To initiate the request, draft an email requesting your
    current permissions be updated as follows:
  </p>

  <p class="cf-help-image-wrapper">
    <%= image_tag 'help/intake-access.png', {class: "cf-help-image", alt: 'Intake Access'} %>
  </p>

  <p>
    Once the email is drafted, attach a copy of your latest “VA Privacy and Information Security
    Awareness and Rules of Behavior” training certificate and forward the email to your supervisor
    for approval. If approved, your supervisor should forward the request to your station’s IRM team
    and/or ISO for entry into CSEM. You will receive an email notice once access is granted. 
  </p>

  <h2 id="launch-intake">4. How do I launch Intake?</h2>
  <P>
    To launch Intake, open your web browser and paste the following URL into the address bar: <a href='https://appeals.cf.ds.va.gov/intake' target="_blank"> 
    https://appeals.cf.ds.va.gov/intake</a>. Hit the Enter button and sign in using your VA credentials.
    You will be taken to the Intake Welcome page.
  </P>

  <h2 id="web-browser">5. Which web browser can I use with Intake?</h2>
  <P>
    Intake is compatible with most modern web browsers, such as Chrome,
    Firefox, Safari, and Internet Explorer 9 (or later). 
  </P>

  <h2 id="telecommuting">6. Does Intake work while I am telecommuting?</h2>
  <p>
    Yes, you can use Intake while connected to the VA network via VPN. 
  </p>

  <h2 id="encounter-problems">7. What should I do if I encounter problems?</h2>
  <P>
    If you encounter any problems while using Intake, contact the Caseflow Product Support Team
    by calling 1-844-876-5548 or send an email to <a href="mailto: caseflow@va.gov">caseflow@va.gov</a>. They can be reached from 8:00AM to 8:00PM EST, Monday through Friday. 
  </P>

  <p class="cf-help-image-wrapper">
    <%= image_tag 'help/intake-feedback.png', {class: "cf-help-image", alt: 'Send Intake Feedback'} %>
  </p>

  <h2 id="suggestions">8. How can I share my suggestions for improving Intake?</h2>
  <P>
    You can use the "Send feedback" link located in the dropdown menu next to your username or
    the “Send feedback” link located at the bottom right-hand corner of the screen to share your
    ideas for improving Intake or to report an issue.
  </P>

  <h2 id="still-need-help">9. What if I still need help?</h2>
  <p>
    If you require further assistance after reviewing the FAQs, Quick Reference Guide, or Training
    Guide, please contact the Caseflow Product Support Team by phone(1-844-876-5548) or email
    <a href="mailto: caseflow@va.gov">(caseflow@va.gov)</a>. We look forward to assisting you.
  </p>
</div>

<div class="cf-app-segment">
  <div class="cf-push-left">
    <a href="#top">Back To Top</a>
  </div>
</div>
