<% content_for :page_title do %>Help<% end %>

<div class="cf-app-segment cf-app-segment--alt cf-help-content">
    <h1>Caseflow Certification Help</h1>

    <h2>1. What is Caseflow Certification?</h2>

    <p>
    Caseflow Certification, a web-based tool that makes it easy to automatically
    fill out an electronic Form 8 for paperless appeals. The tool was built by the
    United States Digital Service at the Department of Veterans Affairs, in close
    collaboration with Decision Review Officers and other employees in regional
    offices all over the country.
    </p>

    <h2>2. What does Caseflow Certification do?</h2>
    <p>
    Caseflow eliminates the need to fill out a PDF Form 8 for appeals. It
    automatically checks to make sure documents such as the VA Form 9, Notice of
    Disagreement (NOD), Statement of Case (SOC), and Supplemental Statements of
    Case (SSOC) have been added to an appeal. It also verifies that these documents
    are consistent between VBMS and VACOLS. Once verified, the tool lets you fill
    out an electronic Form 8. It automatically pre-fills some of the Form 8 data
    from VACOLS and VBMS. It will then generate a PDF of the Form 8 and allow you
    to easily upload that document to the VBMS eFolder.

    You should use Caseflow with paperless appeals that are ready to be certified.
    </p>

    <h2>3. How do I launch Caseflow Certification?</h2>

    <p>
    Once you're ready to certify an appeal, open and log in to VACOLS then search
    for the Appeal ID. Once the date for the Form 9, NOD, SOC, and (optionally)
    SSOC have been entered into VACOLS, click the Certify Appeal button from the
    process menu. You can also select this option from the search results window or
    the update appeal window 
    </p>

    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/vacols-processes.png', {class: "cf-help-image", alt: 'VACOLS Processes dialog'} %>
    </p>
    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/vacols-search.png', {class: "cf-help-image", alt: 'VACOLS Search dialog'} %>
    </p>
    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/vacols-update.png', {class: "cf-help-image", alt: 'VACOLS Update dialog'} %>
    </p>
    <p>

    <p>
    When you click the certify button, you'll see a new window pop up. Since
    you are certifying a paperless appeal, you should select VBMS eFolder.  

    Next, you'll see a notification in VACOLS and a new window will open up
    launching Caseflow.
    </p>

    <h2>4. How do I log in to Caseflow Certification?</h2>

    <p>
    If it's the first time you're using Caseflow Certification in a while you'll be
    asked to log in twice. The first time you'll want to log using your standard VA
    credentials (or PIV if you like). On the second login page, you'll need to log
    in using your regional office VACOLS credentials.

    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/caseflow-login.png', {class: "cf-help-image", alt: 'VACOLS Login dialog'} %>
    </p>

    </p>

    <h2>5. Why does Caseflow say it cannot find documents in the appellant’s
    eFolder?</h2>

    <p>
    Once you're logged in, Caseflow will check to see if documents in the VBMS
    eFolder (such as the NOD, SOC, and Form 9) match the dates entered in VACOLS.
    Caseflow will tell you it cannot find documents in VBMS if it cannot detect
    these documents.
    </p>

    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/caseflow-mismatched.png', {class: "cf-help-image", alt: 'Caseflow mismatched documents dialog'} %>
    </p>

    <h2 id='mismatched-documents'>6. What are the reasons Caseflow may not be
    able to find documents in VBMS?</h2>

    <p>
    There are usually three reasons Caseflow wouldn't be able to find a document:

    <h3>1. The dates of the document in question are inconsistent
    between VACOLS and VBMS.</h3>

    <p>
    If the dates are inconsistent you can change the date in either VACOLS or VBMS
    to match the other then click the Refresh button in Caseflow.
    </p>

    <h3>2. The label of the document in question is missing or incorrect in VBMS</h3>

    <p>
    If a document is missing a label or uses something other than one of the labels
    listed below, you should add correct label to the document in the VBMS document
    settings and click the refresh button in Caseflow.

    <ol>
      <li>Statement of Case (SOC)</li>
      <li>Notice of Disagreement</li>
      <li>Supplemental Statement of Case (SSOC)</li>
      <li>VA 9 Appeal to Board of Appeals</li>
      <li>The document in question has not been uploaded to VBMS.</li>
    </ol>

    If a document is missing from the eFolder, the appeal is not ready to be
    certified and you should click the Cancel Certification button.
    </p>

    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/vbms-documentproperties.png', {class: "cf-help-image", alt: 'VBMS document properties dialog'} %>
    </p>

    <h2>7. What should I do if an eFolder document contains multiple
    types of information?</h2>

    <p>
    Occasionally, especially with older appeals, an NOD or a Form 9 will be
    included in a document with a more general label such as a Statement in Support
    of Claim. These documents could contain other information such as testimony or
    evidence. The short-term guidance for this situation is to duplicate the
    document by saving it to your computer, then re-uploading it to the eFolder.
    Add the appropriate label from those listed in question 6 to the newly uploaded
    document and make sure the date matches the one listed in VACOLS.

    VBMS is pursuing a long-term solution to add multiple labels to a document to
    avoid the need to duplicate documents.
    </p>

    <h2>8. How do I fill out an electronic Form 8?</h2>

    <p>
    Once all the documents are detected, you'll see a web form that lets you fill
    out all the details to complete a Form 8. A red asterisk (*) marks required
    questions.

    To make things go a little faster, some of the fields are automatically
    pre-filled using data from VBMS and VACOLS. If something is pre-filled but
    doesn't look right, you can always manually correct the data on this page.

    You'll also notice that some questions are only shown if relevant. For example,
    question 10b, "Is the hearing transcript in file?" only shows up if you
    indicate that a hearing was held.

    Once you've finished filling out all the relevant details on this page, click
    the Preview Completed Form 8 button.
    </p>

    <h2>9. What is the Preview Form 8 page?</h2>

    <p>
    This page allows you to preview the completed Form 8. If anything looks wrong
    you can click the Go back and make edits button to fix the problem on the
    previous page. If, after review, the Form 8 looks correct, click the Upload and
    Certify button.
    </p>

    <h2>10. What happens when I click the Upload and Certify button?</h2>

    <p>
    The Form 8 will automatically be uploaded to the eFolder, a certification date
    will be added to the appeal, and the appeal will be certified to the Board of
    Veterans Appeals!  Once you see the "Congratulations" page you can close the
    browser window and open up another appeal using VACOLS.
    </p>

    <h2>11. What if I encounter a problem that prevents me from
    certifying the appeal?</h2>

    <p>
    If you are unable to certify the appeal using Caseflow Certification, you can
    click the Cancel Certification link. You'll see a confirmation indicating the
    certification has been cancelled and you can close the window.
    </p>

    <p>
    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/caseflow-cancelmodal.png', {class: "cf-help-image", alt: 'Caseflow Cancel Modal'} %>
    </p>

    <p>
    It's important to know that you cannot cancel a certification after clicking
    the Upload and Certify button because the Form 8 will have already been added
    to the eFolder and cannot be deleted.
    </p>

    <h2>12. What do I do if I need help?</h2>

    <p>
    If you need help remembering how to use Caseflow Certification and want to get
    back to these instructions, you can click the dropdown menu in the top right of
    Caseflow and select the Help option.
    </p>

    <h2>13. How do I certify paper appeals?</h2>

    <p>
    You can only certify paperless appeals with Caseflow Certification. If you have
    a paper appeal, you'll have to manually fill out a Form 8. Once it's completed,
    find the appeal in VACOLS, click the Certify button, then select the Hardcopy
    claims folder or Virtual VA option. From here you'll need to manually fill out
    a Form 8 for the appeal and type in the Certification Date this window.
    </p>

    <p>
    <p class="cf-help-image-wrapper">
    <%= image_tag 'help/vacols-certify.png', {class: "cf-help-image", alt: 'Caseflow Cancel Modal'} %>
    </p>

    <h2>14. What if my appeal has the Form 9, NOD, SOC, and/or SSOC in Virtual VA?</h2>

    <p>
    Caseflow Certification does not work with appeals where the Form 9, NOD, SOC,
    or SSOC are stored in Virtual VA. If, in the rare case, you have an appeal that
    has these specific documents in a Virtual VA, you'll have to manually fill out
    and upload a regular Form 8 and manually enter the Certification Date in
    VACOLS. Once the Form 8 is completed, open the appeal in VACOLS, click the
    Certify button, and select the Hardcopy claims folder or Virtual VA option.
    </p>

    <h2>15. What if my appeal does not have a completed VA-646 form?</h2>

    <p>
    You should make sure the appeal has a completed VA-646 from the appellant’s
    representative before using Caseflow Certification. 
    </p>

    <h2>16. How should I send out notification letters after I’ve certified
    the appeal?</h2>

    <p>
    At this time, you’ll need to use your current procedures to send letters to the
    appellant, representative or others involved in the appeal. We’ve received
    feedback that this is a burdensome process and we’re working on a way to
    automate this.
    </p>

    <h2>17. Can I use Caseflow Certification with appeals that have been merged
    together?</h2>

    <p>
    Yes! When an appeal is merged, VACOLS uses the oldest appeals document dates
    (NOD, SOC, Form 9 dates). Caseflow works off of the date entered in VACOLS. So
    if there were multiple Form 9s, Caseflow would look for the oldest Form 9 for
    the appeal, just as employees at the Board do today.
    </p>

    <h2>18. Should I use Caseflow to process remanded appeals?</h2>

    <p>
    At this time, you do not need to use Caseflow to process remands because the
    appeal will already be certified and have a completed VA-Form 8. You should
    continue to follow existing procedures to process remands.
    </p>

    <h2>19. When will you update Caseflow Certification?</h2>
    <p>
    Caseflow Certification will continue to be improved and any feedback that you
    submit will be directly received and reviewed by our team. We are currently
    working to introduce functionality in VBMS that will allow you to assign
    multiple labels to appeals-related documents when required. Once this
    functionality is available, we'll share this update and you will no longer need
    to duplicate documents as we described earlier.
    </p>

    <h2>20. What if I still need help?</h2>

    <p>
    If you still encounter issues, have questions that aren’t answered here, or
    have ideas for improvements, reach out to the National Service Desk by calling
    1-855-NSD-HELP (1-855-673-4357).
    </p>
</div>
