<% content_for :page_title do stats_header end %>

<% content_for :head do %>
    <%= javascript_include_tag 'stats' %>
    <script>
        $(function() {
            window.Dashboard.init({
                data: <%= raw json %>,
                interval: "<%= interval %>"
            })
        })
    </script>
<% end %>

<div class="cf-app-segment cf-app-segment--alt">
  <h1>Intake Dashboard</h1>
  <div class="cf-stats">
    <ul class="cf-tab-navigation">
      <% IntakeStats::INTERVALS.each do |interval| %>
          <li class="cf-tab <%= (@stats[0].interval == interval) && "cf-active" %>">
          <span>
            <span>
              <%= link_to interval_names[interval], intake_stats_path(interval) %>
            </span>
          </span>
          </li>
      <% end %>
    </ul>

    <div id="ramp-elections-sent" class="cf-stats-section -activity">
      <h3>RAMP Elections Sent <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="elections_sent">
        <h4 class="cf-stat-title">
          Total
        </h4>
        <div class="cf-stat-figure data-value" data-key="elections_sent">
          <%= @stats[0].values[:elections_sent] %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="elections_returned_by_notice_date">
        <h4 class="cf-stat-title">
          Number Returned
        </h4>
        <div class="cf-stat-figure data-value" data-key="elections_returned_by_notice_date">
          <%= @stats[0].values[:elections_returned_by_notice_date] %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="elections_returned_by_notice_date/elections_sent">
        <h4 class="cf-stat-title">
          Percentage Returned
        </h4>
        <div class="cf-stat-figure data-rate" data-key="elections_returned_by_notice_date/elections_sent">
          <%= format_rate_stat(:elections_returned_by_notice_date, :elections_sent) %>
        </div>
      </div>
    </div>

    <div id="ramp-elections-received" class="cf-stats-section -activity">
      <h3>RAMP Elections Received <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="elections_successfully_received">
        <h4 class="cf-stat-title">
          Total
        </h4>
        <div class="cf-stat-figure data-value" data-key="elections_successfully_received">
          <%= @stats[0].values[:elections_successfully_received] %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="average_election_response_time">
        <h4 class="cf-stat-title">
            Average Response Time
        </h4>
        <div class="cf-stat-figure data-time" data-key="average_election_response_time">
          <%= format_time_duration_stat(@stats[0].values[:average_election_response_time]) %>
        </div>
      </div>
    </div>
  </div>
</div>
