<%= content_for :intro do %>
  <p>
    Dear <%= @recipient.name %>,
  </p>
  <p>
    <% if @reminder_type == Hearings::ReminderService::SIXTY_DAY_REMINDER %>
      You're scheduled for a hearing with a Veterans Law Judge of the Board of Veterans' Appeals.
    <% else %>
      <% if @virtual_hearing.nil? && @hearing&.request_type ==  "C" %>
        You're scheduled for a hearing with a Veterans Law Judge of the Board of Veterans' Appeals. You will arrive at <%= @hearing&.hearing_location_or_regional_office&.full_address %> and the Judge will meet with you in person.
      <% elsif @virtual_hearing.nil? &&  @hearing&.request_type == "V" %>
        You're scheduled for a hearing with a Veterans Law Judge of the Board of Veterans' Appeals. You will arrive at <%= @hearing&.hearing_location_or_regional_office&.full_address %> and the Judge will meet with you via video conference.
      <% else %>
        You're scheduled for a hearing with a Veterans Law Judge of the Board of Veterans' Appeals.
      <% end %>
    <% end %>
  </p>
<% end %>

<%= content_for :date_time do %>
  <%= render "hearing_mailer/sections/date_time" %>
<% end %>

<% if @virtual_hearing.present? %>
  <%= content_for :how_to_join do %>
    <%= render "hearing_mailer/sections/how_to_join" %>
  <% end %>

  <%= content_for :test_your_connection do %>
    <%= render partial: "hearing_mailer/sections/test_your_connection", locals: { kind: :reminder } %>
  <% end %>

  <% if @reminder_type != Hearings::ReminderService::SIXTY_DAY_REMINDER %>
    <% content_for :help_desk do %>
      <%= render "hearing_mailer/sections/help_desk" %>
    <% end %>
  <% end %>
<% else %>
  <% content_for :location do %>
    <%= render "hearing_mailer/sections/location" %>

    <h3>What should I expect on the day of my hearing?</h3>
    <p>
      Bring a photo ID and check in with security 30 minutes prior to the scheduled hearing. You will be subject to security screening, including the inspection of personal belongings. Masks may be required to enter VA facilities. It is against the law to bring firearms or any other dangerous weapons into a federal facility.  </p>
    <p>
      Hearings are scheduled in morning and afternoon shifts. The Judge will hold each hearing as soon as possible; however, you should be prepared to wait your turn. The approximate time for each hearing is 30 minutes.
    </p>
  <% end %>
<% end %>
<% if @reminder_type == Hearings::ReminderService::SIXTY_DAY_REMINDER %>
  <% content_for :additional_reminder_details do %>
    <%= render "hearing_mailer/sections/additional_reminder_details" %>
  <% end %>
<% end %>
<%= content_for :signature do %>
  <p>
    Sincerely,<br/>
    The Board of Veterans' Appeals
  </p>
<% end %>
