<%= content_for :intro do %>
  <p>
    Dear <%= @recipient.name %>,
  </p>

  <p>
    You're scheduled for a virtual hearing with a Veterans Law Judge of the Board of Veterans' Appeals.
  </p>
<% end %>

<%= content_for :date_time do %>
  <%= render "hearing_mailer/sections/date_time" %>
<% end %>

<%= content_for :how_to_join do %>
  <%= render "hearing_mailer/sections/how_to_join" %>
<% end %>

<%= content_for :test_your_connection do %>
  <%= render partial: "hearing_mailer/sections/test_your_connection", locals: { kind: :reminder } %>
<% end %>

<% content_for :help_desk do %>
  <%= render "hearing_mailer/sections/help_desk" %>
<% end %>

<%= content_for :signature do %>
  <p>
    Sincerely,<br/>
    The Board of Veterans' Appeals
  </p>
<% end %>
