<%= content_for :intro do %>
  <p>
    Dear Judge <%= @recipient_info.name %>,
  </p>

  <p>
    You're scheduled for a virtual hearing with <%= formatted_appellant_name(@virtual_hearing.hearing.appeal) %>:
    <a href="https://appeals.cf.ds.va.gov/hearings/<%= @virtual_hearing.hearing.external_id %>/worksheet">
      View the Hearing Worksheet
    </a>
  </p>
<% end %>

<%= content_for :date_time do %>
  <%= render "hearing_mailer/sections/date_time" %>
<% end %>

<%= content_for :how_to_join do %>
  <%= render "hearing_mailer/sections/how_to_join" %>
<% end %>

<% content_for :help_desk do %>
  <%= render "hearing_mailer/sections/help_desk" %>
<% end %>

<%= content_for :signature do %>
  <p>
    Hearing Management Branch<br />
    Board of Veterans' Appeals
  </p>
<% end %>
