<div class="cf-app-segment cf-app-segment--alt">
  <div class="usa-grid-full">
    <% flash.each do |key,value| %>
      <div class="<%= "usa-alert usa-alert-#{key} cf-app-segment" %>" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading"><%= value %></h3>
        </div>
      </div>
    <% end %>
    <div class="usa-width-one-half">
      <p><a href="<%= url_for controller: '/functions', action: 'index'%>">Change Functions</a></p>
      <p><%= link_to "Clear Data", test_setup_delete_test_data_path %></p>
      <p><%= link_to "Create Tasks", admin_establish_claim_path %></p>
    </div>

    <div class="usa-width-one-half">
      <% if ENV["TEST_APPEAL_IDS"] %>
      <h2>Certification</h2>
        <%= form_for @certification_appeal, url: test_setup_uncertify_appeal_path, method: "POST",
          html: { id: "uncertify-appeal-form", class: "cf-form" },
          builder: CaseflowFormBuilder do |f| %>
            <%= f.text_field :vacols_id, label: "VACOLS ID", question_name: "vacols_id" %>
            <button type="submit" class="cf-submit">Uncertify Appeal</button>
        <% end %>
      <% end %>
      <% if ENV["FULL_GRANT_IDS"] && ENV["PART_REMAND_IDS"] %>
      <h2>Dispatch</h2>
        <%= form_for @dispatch_appeal, url: test_setup_appeal_location_date_reset_path, method: "POST",
          html: { id: "appeal-location-date-reset-form", class: "cf-form" },
          builder: CaseflowFormBuilder do |f| %>
            <%= f.text_field :vacols_id, label: "VACOLS ID", question_name: "vacols_id" %>
            <%= f.yes_no_field :cancel_eps,
                  label: "Cancel existing End Products?", secondary: false %>
            <button type="submit" class="cf-submit">Reset Date and Location</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
