<% content_for :page_title do %>&nbsp &gt &nbspCertification Dashboard<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'stats' %>
  <script>
    $(function() {
      window.Dashboard.init({
        data: <%= raw json %>,
        interval: "<%= interval %>"
      })
    })
  </script>
<% end %>

<div class="cf-app-segment cf-app-segment--alt">
  <div class="cf-stats">
    <ul class="cf-tab-navigation">
      <% CertificationStats::INTERVALS.each do |interval| %>
        <li class="cf-tab <%= (@stats[0].interval == interval) && "cf-active" %>">
          <span>
            <span>
              <%= link_to interval.to_s.capitalize, certification_stats_path(interval) %>
            </span>
          </span>
        </li>
      <% end %>
    </ul>

    <div class="cf-stats-section -activity">
      <h3>Activity <span class="data-date"></span></h3>
      <div class="cf-stat-panel data-chart" data-key="certifications_started">
        <h4 class="cf-stat-title">
          Certifications Started
        </h4>
        <div class="cf-stat-figure data-value" data-key="certifications_started">
          <%= @stats[0].values[:certifications_started] %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="certifications_completed">
        <h4 class="cf-stat-title">
          Certifications Completed
        </h4>
        <div class="cf-stat-figure data-value" data-key="certifications_completed">
          <%= @stats[0].values[:certifications_completed] %>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -certification">
      <h3>Certification Rate <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="same_period_completions/certifications_started">
        <h4 class="cf-stat-title">
          Overall
        </h4>
        <div class="cf-stat-figure data-rate" data-key="same_period_completions/certifications_started">
          <%= format_rate_stat(:same_period_completions, :certifications_started) %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="missing_doc_same_period_completions/missing_doc">
        <h4 class="cf-stat-title">
          Missing Document
        </h4>
        <div class="cf-stat-figure data-rate" data-key="missing_doc_same_period_completions/missing_doc">
          <%= format_rate_stat(:missing_doc_same_period_completions, :missing_doc) %>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -timing">
      <h3>Time to Certify <span class="data-date"></span></h3>
      <div class="cf-stat-panel -toggle"
        role="button" tabindex="0"
        aria-label="Switch between median and 95th percentile statistics">
        <div class="cf-stat-option active data-chart" data-key="median_time_to_certify">
          <h4 class="cf-stat-title">
            Overall (median)
          </h4>
          <div class="cf-stat-figure data-time" data-key="median_time_to_certify">
            <%= format_time_duration_stat(@stats[0].values[:median_time_to_certify]) %>
          </div>
        </div>
        <div class="cf-stat-option data-chart" data-key="time_to_certify">
          <h4 class="cf-stat-title">
            Overall (95th percentile)
          </h4>
          <div class="cf-stat-figure data-time" data-key="time_to_certify">
            <%= format_time_duration_stat(@stats[0].values[:time_to_certify]) %>
          </div>
        </div>
      </div>

      <div class="cf-stat-panel -toggle"
        role="button" tabindex="0"
        aria-label="Switch between median and 95th percentile statistics">
        <div class="cf-stat-option active data-chart" data-key="median_missing_doc_time_to_certify">
          <h4 class="cf-stat-title">
            Missing Document (median)
          </h4>
          <div class="cf-stat-figure data-time" data-key="median_missing_doc_time_to_certify">
            <%= format_time_duration_stat(@stats[0].values[:median_missing_doc_time_to_certify]) %>
          </div>
        </div>
        <div class="cf-stat-option data-chart" data-key="missing_doc_time_to_certify">
          <h4 class="cf-stat-title">
            Missing Document (95th percentile)
          </h4>
          <div class="cf-stat-figure data-time" data-key="missing_doc_time_to_certify">
            <%= format_time_duration_stat(@stats[0].values[:missing_doc_time_to_certify]) %>
          </div>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -missing">
      <h3>Missing Documents <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="missing_doc/certifications_started">
        <h4 class="cf-stat-title">
          Any Document
        </h4>
        <div class="cf-stat-figure data-rate" data-key="missing_doc/certifications_started">
          <%= format_rate_stat(:missing_doc, :certifications_started) %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="missing_nod/certifications_started">
        <h4 class="cf-stat-title">
          NOD
        </h4>
        <div class="cf-stat-figure data-rate" data-key="missing_nod/certifications_started">
          <%= format_rate_stat(:missing_nod, :certifications_started) %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="missing_soc/certifications_started">
        <h4 class="cf-stat-title">
          SOC
        </h4>
        <div class="cf-stat-figure data-rate" data-key="missing_soc/certifications_started">
          <%= format_rate_stat(:missing_soc, :certifications_started) %>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -missing">

      <div class="cf-stat-panel data-chart" data-key="missing_ssoc/ssoc_required">
        <h4 class="cf-stat-title">
          SSOC
        </h4>
        <div class="cf-stat-figure data-rate" data-key="missing_ssoc/ssoc_required">
          <%= format_rate_stat(:missing_ssoc, :ssoc_required) %>
        </div>
      </div>

      <div class="cf-stat-panel data-chart" data-key="missing_form9/certifications_started">
        <h4 class="cf-stat-title">
          Form 9
        </h4>
        <div class="cf-stat-figure data-rate" data-key="missing_form9/certifications_started">
          <%= format_rate_stat(:missing_form9, :certifications_started) %>
        </div>
      </div>
    </div>
  </div>
</div>
