<%= render "intro" %>

<%= content_for :content do %>
  <p>
    At this time, we have denied your request for access to <%= @requesting_org_name %> pages in Caseflow. Your existing group membership did not change.
  </p>

  <p>
    <b> You currently have access to the following groups' pages: </b>
  </p>

  <% @accessible_groups.each do |group| %>
    <p> <%= group %> </p>
  <% end %>
<% end %>

<%= render "help" %>
<%= render "requesting_org_signature" %>
