<%= render "intro" %>

<%= content_for :content do %>
  <p>
    At this time, we have denied your request for access to <%= @requesting_org_name %> pages in Caseflow.
  </p>

  <p>
    This does not impact access you had prior to this decision, or your pending requests for other VHA Pre-Docket offices listed below.
  </p>

  <p>
    <b> Your pending requests: </b>
  </p>

  <% @requested_groups.each do |pending_request_group| %>
    <p> <%= pending_request_group %> </p>
  <% end %>

  <p>
    Each Pre-docket office will send a separate decision email with their decision.
  </p>

  <p>
    <b> You currently have access to the following groups’ pages, if any: </b>
  </p>

  <% @accessible_groups.each do |group| %>
    <p> <%= group %> </p>
  <% end %>

<% end %>

<%= render "help" %>
<%= render "vha_signature" %>
