<%= render "intro" %>

<%= content_for :content do %>
  <p>
    We approved your request for Caseflow <%= @requesting_org_name %>. pages, which also includes access to the VHA pages.
  </p>

  <p>
    <b> You now have access to the following groups' pages: </b>
  </p>

  <% @accessible_groups.each do |group_name| %>
    <p> <%= group_name %> </p>
  <% end %>

  <p>
    You still have pending requests for other Pre-docket offices. You'll get a separate decision email from each Pre-docket office listed below.
  </p>

  <p>
    <b> Your pending requests: </b>
  </p>

  <% @requested_groups.each do |pending_request_group| %>
    <p> <%= pending_request_group %> </p>
  <% end %>
<% end %>

<%= render "help" %>
<%= render "vha_signature" %>
