<!-- 12.6.3.1 -->
<%= render "intro" %>

<%= content_for :content do %>
  <p>
    <%= 'At this time, we have denied your request for access to <VHA pre-docket organization denying access> pages in Caseflow.' %>
  </p>

  <p>
    This does not impact access you had prior to this decision, or your pending requests for other VHA Pre-Docket offices listed below.
  </p>

  <p>
    <b> Your pending requests: </b>
  </p>

  <% ["First Group", "Any other groups"].each do |pending_request_group| %>
    <p> <%= pending_request_group %> </p>
  <% end %>

  <p>
    Each Pre-docket office will send a separate decision email with their decision.
  </p>


  <p>
    <b> You currently have access to the following groups’ pages, if any: </b>
  </p>

  <% ["Any other groups"].each do |group| %>
    <p> <%= group %> </p>
  <% end %>

  <%= render "help" %>
<% end %>

<%= content_for :signature do %>
  <p>
    Sincerely,<br/>
    VHA PD Organization denying request
  </p>
<% end %>
