<%= render "intro" %>

<%= content_for :content do %>
  <p>
    You have received a new request for access to <%= @requesting_org_name %>. Please log in and navigate to the <%= @requesting_org_name %> team management page in order to review and process this request.
  </p>
<% end %>

<%= render "help" %>
<%= render "vha_signature" %>
