<%= render "intro" %>

<%= content_for :content do %>
  <p>
    We have approved your request for access to VHA pages within Caseflow.
  </p>

  <p>
    <b> You now have access to the following groups' pages: </b>
  </p>

  <% @accessible_groups.each do |group_name| %>
    <p> <%= group_name %> </p>
  <% end %>
<% end %>

<%= render "help" %>
<%= render "vha_signature" %>
