<%= render "intro" %>

<%= content_for :content do %>
  <p>
    At this time, we have denied your request for access to general VHA pages in Caseflow. Your existing group memberships did not change.
  </p>

  <p style="padding-top:20px">
    <b> You currently have access to the following groups' pages in Caseflow, if any: </b>
  </p>

  <% @accessible_groups.each do |accessible_group| %>
    <p> <%= accessible_group %> </p>
  <% end %>
<% end %>

<%= render "help" %>
<%= render "vha_signature" %>
