<% schema.fields.each do |field| %>
  <div class="field">
    <span class="field-name"><%= field.name %></span>
    <% if field.nested.present? %>
      <% id = SecureRandom.hex(32) %>
      <input type="checkbox" id="<%= id %>">
      <label for="<%= id %>" aria-label="Expand Nested Schema"></label>
    <% end %>
    <span class="details">
      <%= field.type %><%= field.array? ? "[ ]" : "" %>,
      <%= (field.optional ? "optional" : "required") %>,
      <%= (field.nullable ? "nullable" : "non-nullable") %>
    </span>
    <% unless field.included_in.nil? %>
      <div class="more-info">
        Allowed values:
        <% field.included_in.each do |value| %>
          <code><%= value.inspect %></code>
        <% end %>
      </div>
    <% end %>
    <% if field.doc.present? %>
      <div class="more-info"><%= field.doc %></div>
    <% end %>
    <% if field.nested.present? %>
      <div class="more-info nested-schema">
        <%= render "schema", schema: field.nested %>
      </div>
    <% end %>
  </div>
<% end %>
