<h2> Case Distribution Levers </h2>
  <table id="case-table-description" class="usa-table-borderless undefined">
    <thead>
      <tr>
        <td> ID </td>
        <td> Title </td>
        <td> Description </td>
        <td> Data Type </td>
        <td> Value </td>
        <td> Options </td>
        <td> Option Value </td>
        <td> Active </td>
        <td> Disabled </td>
      </tr>
    </thead>
    <tbody>
      <% @acd_levers.each do |lever| %>
        <tr>
          <td> <%= lever.id %> </td>
          <td> <%= lever.title %> </td>
          <td> <%= lever.description %> </td>
          <td> <%= lever.data_type %> </td>
          <td> <%= lever.value %> </td>
          <td> <%= lever.options %> </td>
          <% if lever.data_type == "radio" %>
            <td> <%= lever.options.find { |option| option["item"] == lever.value }["value"] %> </td>
          <% elsif lever.data_type == "combination" %>
            <td> <%= lever.options.first["value"] %> </td>
          <% else %>
            <td> n/a </td>
          <% end %>
          <td> <%= lever.is_active %> </td>
          <td> <%= lever.is_disabled %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<h2> Case Distribution Audit Levers </h2>
  <table>
    <thead>
      <tr>
        <td> Lever ID </td>
        <td> Lever Title </td>
        <td> User </td>
        <td> Created </td>
        <td> Previous Value </td>
        <td> Update Value </td>
      </tr>
    </thead>
    <tbody>
      <% @acd_history.each do |entry| %>
        <tr>
          <td> <%= entry.case_distribution_lever.id %> </td>
          <td> <%= entry.title %> </td>
          <td> <%= entry.user_name %> </td>
          <td> <%= entry.created_at %> </td>
          <td> <%= entry.previous_value %> </td>
          <td> <%= entry.update_value %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>



<% cda_group_organization = CDAControlGroup.singleton %>

<% if cda_group_organization %>
  <h2> CDA Control Group Organization </h2>
    <h3> Organization Info </h3>
      <%= "Name: " + cda_group_organization.name %>
    <h3> Users </h3>
      <table>
        <thead>
          <tr>
            <td> Name </td>
            <td> Admin? </td>
            <td> Actions </td>
          </tr>
        </thead>
        <tbody>
          <% cda_group_organization.users.each do |user| %>
            <tr>
              <td> <%= user.full_name %> </td>
              <td> <%= user.administered_teams.include?(cda_group_organization) %> </td>
              <td> <%= button_to 'Remove From Organization', remove_user_case_distribution_levers_tests_path, method: :post, params:{user: current_user} %>
                <% if user.administered_teams.include?(cda_group_organization) %>
                  <%= button_to 'Remove Admin', remove_admin_case_distribution_levers_tests_path, method: :post, params:{user: current_user} %>
                <% else %>
                  <%= button_to 'Make User Admin', make_admin_case_distribution_levers_tests_path, method: :post, params:{user: current_user} %>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <p>&nbsp;</p>
    <span>
      <%= button_to 'Destroy Organization', destroy_acd_group_org_case_distribution_levers_tests_path, method: :post %>
      <%unless current_user.member_of_organization?(cda_group_organization) %>
        <%= button_to 'Add Current User To Organization', add_user_case_distribution_levers_tests_path, method: :post, params:{user: current_user} %>
      <% end %>
    </span>
<% else %>
  <h2> Organization Setup </h2>
    <%= button_to 'Create Organization', create_acd_group_org_singleton_case_distribution_levers_tests_path, method: :post %>
<% end %>

<h2> Case Distribution Algorithm Logs </h2>
  <table>
    <thead>
      <tr>
        <td> Script Name </td>
        <td> Levers </td>
        <td> Starting Distribution ID </td>
        <td> Ending Distribution ID </td>
        <td> Start Case ID </td>
        <td> End Case ID </td>
      </tr>
    </thead>
    <tbody>
      <% @acd_algorithm_history.each do |entry| %>
        <tr>
          <td> <%= entry.script_name %> </td>
          <td> <%= entry.levers %> </td>
          <td> <%= entry.starting_distribution_id %> </td>
          <td> <%= entry.ending_distribution_id %> </td>
          <td> <%= entry.starting_case_id %> </td>
          <td> <%= entry.ending_case_id %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

