<h3>Intake (<span class="show_pii_<%=show_pii_query_param%>"><%= show_pii_query_param ? "showing PII" : "no PII" %></span>)</h3>
<code style="color: green">
  puts IntakeRenderer.render(Appeal.find(<%= appeal.id %>),
    show_pii: <%= show_pii_query_param ? "true" : "false" %>)
</code>
<pre style="font-size:0.9em; padding:10px"><code><%= intake_as_text %></code></pre>

<a class="resourceLink" target="_blank" rel="noopener noreferrer"
   href="https://github.com/department-of-veterans-affairs/caseflow/wiki/Intake-Structure-Renderer">
   Intake Structure Renderer</a>
<br/>
