<h3>Network graph</h3>
<details open>
  <summary id="network_viz" style="color: purple">Network graph</summary>
  <div style="margin-left: 1em;">
    <div id="netgraph"></div>
    <details>
      <summary style="color: blue">Network configuration</summary>
      <div id="nodeFilters" style="width: 200px; height: 300px; overflow-y: scroll; padding:10px">
        <% ["tasks", "users", "organizations"].each do |tableName| %>
          <input id="<%=tableName%>_node_visible" value="<%=tableName%>" type="checkbox" checked onchange="toggleNodeType(this)" />
          <label for="<%=tableName%>_node_visible"><%=tableName%></label>
        <% end %>
      </div>
    </details>
    <details>
      <summary style="color: gray">Network graph data</summary>
      <pre style="font-size:0.75em; padding:10px"><code><%= JSON.pretty_generate(network_graph_data) %></code></pre>
    </details>
  </div>
</details>

<%= javascript_include_tag 'explain-appeal-network' %>
<script type="text/javascript">
  const network_graph_data = <%= network_graph_data.to_json.html_safe %>;
  addNetworkGraph("netgraph", network_graph_data);

  // To reduce clutter, hide organizations by default
  const org_nodes_checkbox = document.getElementById('organizations_node_visible');
  org_nodes_checkbox.checked = false;
  toggleNodeType(org_nodes_checkbox);
</script>
