<h3>Timeline</h3>
<details open>
  <summary id="timeline_viz" style="color: purple">Timeline visualization</summary>
  <div style="margin-left: 1em;">
    <input type="button" id="fit" value="Fit all items" onclick="fitTimeline()">
    <br/>
    <div id="timeline"></div>
    <details>
      <summary id="timeline_config" style="color: blue">Timeline configuration</summary>

      <% ["phases", "tasks", "cancelled_tasks", "others"].each do |groupName| %>
        <input id="<%=groupName%>_group_visible" value="<%=groupName%>" 
          type="checkbox" checked onchange="toggleTimelineEventGroup(this)">
        <label for="<%=groupName%>_group_visible"><%=groupName%></label>
      <% end %>
      Ctrl-scrollwheel zooms into the timeline.
    </details>

    <details>
      <summary style="color: gray">Timeline data</summary>
      <pre style="font-size:0.84em; padding:10px"><code><%= JSON.pretty_generate(timeline_data) %></code></pre>
    </details>
  </div>
</details>

<%= javascript_include_tag 'explain-appeal-timeline' %>
<script type="text/javascript">
  const timeline_data = <%= timeline_data.to_json.html_safe %>;
  const timeline = addTimeline('timeline', timeline_data);

  function fitTimeline(){ timeline.fit(); }
</script>
