<% content_for :new_window_title do 'Explain appeal' end %>
<% content_for :page_title do page_title('Explain appeal') end %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'explain_appeal' %>
  <%= stylesheet_link_tag 'explain_appeal_timeline' %>
<% end %>

<div style="font-size:0.875em; padding:10px">
  <table id="header_table" style="margin: 0em;">
    <colgroup>
      <col style="width: 60%;">
      <col style="width: 40%;">
   </colgroup>
   <tbody>
<tr><td>
  <h3>Appeal <%=appeal.id%> (<%=legacy_appeal? ? "VACOLS id: #{appeal.vacols_id}" : appeal.uuid%>)</h3>
  <ul id="appeal_info">
    <% if legacy_appeal? %>
      <li>location: <%= appeal.location_code.to_s %></li>
    <% else %>
      <li>status: <%= appeal.status.status.to_s %></li>
    <% end %>
    <li>priority: <%= appeal.aod? || appeal.cavc? %> (AOD: <%= appeal.aod? %>, CAVC: <%= appeal.cavc? %>)</li>
    <% if sje.records_hash["appeals"].length > 1 %>
      <li>Related Appeals:
        <ul>
          <% sje.records_hash["appeals"].each do |appeal| %>
            <li>Appeal id: <%= appeal["id"] %>, <%= appeal["uuid"] || appeal["vacols_id"] %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</td><td style="border: 1px solid lightgray;">
  <code class="show_pii_<%=show_pii_query_param%>">show_pii = <%= show_pii_query_param %></code>.
  <br/>To toggle PII, click <%= link_to('toggle show_pii', {action: 'show', show_pii: !show_pii_query_param}) %>.
  <br/>(
        <%= link_to((show_pii_query_param ? "text showing PII" : "sanitized text"),
          {action: 'show', show_pii: show_pii_query_param, fields: fields_query_param.to_s, format: "text"}) %>,
        <%= link_to('sanitized json export', {action: 'show', format: "json"}) %>
       )
</td></tr>
    </tbody>
  </table>

  <div id="section_checkboxes" style="z-index: 8; display: flex; flex-direction: column; background-color: lightcyan;">
    <% sections1 = %w[task_tree intake_tree hearing_tree] %>
    <% sections2 = %w[narrative_table] %>
    <% sections2 += %w[timeline_chart network_graph] unless legacy_appeal? %>
    <% sideSections = %w[details_section legend_section] %>

    <div class="section_checkbox_row" id="main_panel_section_btns">
      <% sections1.each do |sectionId| %>
        <input id="<%=sectionId%>_section_chkbox" value="<%=sectionId%>_section" type="checkbox"
               onclick="toggleElement(this, 'main_panel')">
        <label for="<%=sectionId%>_section_chkbox"><%=sectionId.titleize%></label>
      <% end %>
      <% sections2.each do |sectionId| %>
        <input id="<%=sectionId%>_section_chkbox" value="<%=sectionId%>_section" type="checkbox"
               onclick="toggleElement(this, 'main_panel')">
        <label for="<%=sectionId%>_section_chkbox"><%=sectionId.titleize%></label>
      <% end %>
    </div>
    <div class="section_checkbox_row">
      <input id="side_panel_chkbox" value="side_panel" type="checkbox"
             onclick="toggleSidePanel(this, event)">
      <label for="side_panel_chkbox">Side Panel:</label>

      <div id="side_panel_section_btns">
        <% sideSections.each do |sectionId| %>
          <input id="<%=sectionId%>_section_chkbox" value="<%=sectionId%>_section" type="checkbox"
                 onclick="toggleElement(this, 'side_panel')">
          <label for="<%=sectionId%>_section_chkbox"><%=sectionId.titleize%></label>
        <% end %>
      </div>

      <div id="menubar_options" visibility="hidden">
        <input id="autoshow_chkbox" type="checkbox" checked>
        <label for="autoshow_chkbox">Show on scrollup</label>

        <button id="hide_menubar_btn" style="padding: 5px; font-size: 0.9em;"
                onclick="temporarilyHideStickyMenu()">Hide</button>
      </div>
    </div>
  </div>

  <%= render "menubar", menubarId: "section_checkboxes", contentId: "main_panel", autoshowId: "autoshow_chkbox" %>

  <div id="main_panel">
    <% (sections1 + sections2).each do |sectionId|  %>
      <div id="<%=sectionId%>_section" style="display:none">
        <%= render sectionId %>
        <hr/>
      </div>
    <% end %>
  </div>

  <%= render "side_panel", sectionIds: sideSections %>

  <script type="text/javascript">
    const mainSectionBtns = document.querySelectorAll('#main_panel_section_btns input')
    function toggleElement(chkbox, panelId) {
      const section = document.getElementById(chkbox.value);

      var vis = "none";
      if(chkbox.checked){
        if(panelId){
          const panel = document.getElementById(panelId);
          panel.appendChild(section);
        }
        vis = "block"
      }
      section.style.display = vis;

      if(chkbox.checked){
        // If more than 1 section visible, scroll to the newly visible section
        const mainSectionCheckedBtns = Array.prototype.filter.call(mainSectionBtns, (btn) => btn.checked);
        mainSectionCheckedBtns.length > 1 && section.scrollIntoView({behavior: "smooth", block: "start"});
      }
      document.getElementById("details_content").innerHTML = " Checkbox: "+chkbox.value;
    }

    const sidePanelSectionBtns = document.querySelectorAll('#side_panel_section_btns input')
    const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;
    function toggleSidePanel(chkbox, event) {
      const panel = document.getElementById(chkbox.value);
      // console.error(chkbox, event);
      toggleElement(chkbox);
      panel.style.top || (panel.style.top = (event.clientY+10)+"px");
      // panel.style.left || (panel.style.left = (event.clientX+10)+"px");
      panel.style.left || (panel.style.left = Math.min(
                             window.innerWidth - panel.offsetWidth - 140,
                             window.innerWidth/4 * 3
                           )+"px");

      // disable btns if sidepanel is not visible
      sidePanelSectionBtns.forEach((btn) => btn.disabled = !chkbox.checked);
    }

    function showDetailsSection(){
      const chkbox = document.getElementById("details_section_section_chkbox");
      if(!chkbox.checked){
        chkbox.checked = true;
        chkbox.onclick();
      }
    }

    // Set initial state
    showDetailsSection();
    sidePanelSectionBtns.forEach((btn) => btn.disabled = true);

    window.onresize = ()=>{
      // To-do: Ensure side panel remains visible?
    }
  </script>
</div>
