<% content_for :new_window_title do 'Explain appeal' end %>
<% content_for :page_title do page_title('Explain appeal') end %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'explain_appeal' %>
  <%= stylesheet_link_tag 'explain_appeal_timeline' %>
<% end %>

<div style="font-size:0.875em; padding:10px">
  <code class="show_pii_<%=show_pii_query_param%>">show_pii = <%= show_pii_query_param %></code>.
  To toggle PII, click <%= link_to('toggle show_pii', {action: 'show', show_pii: !show_pii_query_param}) %>.
  (Other formats:
  <%= link_to((show_pii_query_param ? "text showing PII" : "sanitized text"),
    {action: 'show', show_pii: show_pii_query_param, fields: fields_query_param.to_s, format: "text"}) %>,
  <%= link_to('sanitized json export', {action: 'show', format: "json"}) %>
  )
  <hr/>

  <h3>Appeal <%=appeal.id%> (<%=legacy_appeal? ? appeal.vacols_id : appeal.uuid%>)</h3>
  <ul id="appeal_info">
    <li>status: <%= appeal_status.to_s %></li>
    <li>priority: <%= appeal.aod? || appeal.cavc? %> (AOD: <%= appeal.aod? %>, CAVC: <%= appeal.cavc? %>)</li>
    <% if sje.records_hash["appeals"].length > 1 %>
    <li>Related Appeals:
      <ul>
        <% sje.records_hash["appeals"].each do |appeal| %>
          <li>Appeal id: <%= appeal["id"] %>, <%= appeal["uuid"] || appeal["vacols_id"] %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
  <hr/>

  <% sections = %w[task_tree intake_tree hearing_tree narrative_table] %>
  <% sections += %w[timeline_chart network_graph] unless legacy_appeal? %>

  <% sections.each do |sectionId| %>
    <input id="<%=sectionId%>_section_chkbox" value="<%=sectionId%>_section" type="checkbox" onclick="toggleElement(this)" />
    <label for="<%=sectionId%>_section_chkbox"><%=sectionId%></label>
  <% end %>
  <hr/>

  <% sections.each do |sectionId|  %>
    <div id="<%=sectionId%>_section" style="display:none">
      <%= render sectionId %>
      <hr/>
    </div>
  <% end %>

  <script type="text/javascript">
    function toggleElement(chkbox) {
        var vis = (chkbox.checked) ? "block" : "none";
        document.getElementById(chkbox.value).style.display = vis;
    }
  </script>
</div>
