<% content_for :new_window_title do 'Explain appeal' end %>
<% content_for :page_title do page_title('Explain appeal') end %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'explain_appeal' %>
  <%= stylesheet_link_tag 'explain_appeal_timeline' %>
<% end %>

<div style="font-size:0.875em; padding:10px">
  <table id="header_table" style="margin: 0em;">
    <colgroup>
      <col style="width: 60%;">
      <col style="width: 40%;">
   </colgroup>
   <tbody>
<tr><td>
  <h3>Appeal <%=appeal.id%> (<%=legacy_appeal? ? "VACOLS id: #{appeal.vacols_id}" : appeal.uuid%>)</h3>
  <ul id="appeal_info">
    <% if legacy_appeal? %>
      <li>location: <%= appeal.location_code.to_s %></li>
    <% else %>
      <li>status: <%= appeal.status.status.to_s %></li>
    <% end %>
    <li>priority: <%= appeal.aod? || appeal.cavc? %> (AOD: <%= appeal.aod? %>, CAVC: <%= appeal.cavc? %>)</li>
    <% if sje.records_hash["appeals"].length > 1 %>
      <li>Related Appeals:
        <ul>
          <% sje.records_hash["appeals"].each do |appeal| %>
            <li>Appeal id: <%= appeal["id"] %>, <%= appeal["uuid"] || appeal["vacols_id"] %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</td><td style="border: 1px solid lightgray;">
  <code class="show_pii_<%=show_pii_query_param%>">show_pii = <%= show_pii_query_param %></code>.
  <br/>To toggle PII, click <%= link_to('toggle show_pii', {action: 'show', show_pii: !show_pii_query_param}) %>.
  <br/>(
        <%= link_to((show_pii_query_param ? "text showing PII" : "sanitized text"),
          {action: 'show', show_pii: show_pii_query_param, fields: fields_query_param.to_s, format: "text"}) %>,
        <%= link_to('sanitized json export', {action: 'show', format: "json"}) %>
       )
</td></tr>
    </tbody>
  </table>

  <div id="section_checkboxes" style="display: flex; flex-direction: column; background-color: lightcyan;">
    <% sections1 = %w[task_tree intake_tree hearing_tree] %>
    <% sections2 = %w[narrative_table] %>
    <% sections2 += %w[timeline_chart network_graph] unless legacy_appeal? %>
    <% sideSections = %w[details_section] %>

    <div class="section_checkbox_row">
      <% sections1.each do |sectionId| %>
        <input id="<%=sectionId%>_section_chkbox" value="<%=sectionId%>_section" type="checkbox"
               onclick="toggleElement(this, 'main_panel')">
        <label for="<%=sectionId%>_section_chkbox"><%=sectionId.titleize%></label>
      <% end %>
      <% sections2.each do |sectionId| %>
        <input id="<%=sectionId%>_section_chkbox" value="<%=sectionId%>_section" type="checkbox"
               onclick="toggleElement(this, 'main_panel')">
        <label for="<%=sectionId%>_section_chkbox"><%=sectionId.titleize%></label>
      <% end %>
    </div>
    <div class="section_checkbox_row">
      <input id="side_panel_chkbox" value="side_panel" type="checkbox"
              onclick="toggleElement(this)">
      <label for="side_panel_chkbox">Side Panel</label>
      <% sideSections.each do |sectionId| %>
        <input id="<%=sectionId%>_section_chkbox" value="<%=sectionId%>_section" type="checkbox"
               onclick="toggleElement(this, 'side_panel')">
        <label for="<%=sectionId%>_section_chkbox"><%=sectionId.titleize%></label>
      <% end %>
    </div>
  </div>

  <div id="main_panel">
    <% (sections1 + sections2).each do |sectionId|  %>
      <div id="<%=sectionId%>_section" style="display:none">
        <%= render sectionId %>
        <hr/>
      </div>
    <% end %>
  </div>

  <%= render "side_panel", sectionIds: sideSections %>

  <script type="text/javascript">
    function toggleElement(chkbox, panelId) {
      const section = document.getElementById(chkbox.value);

      var vis = "none";
      if(chkbox.checked){
        if(panelId){
          const panel = document.getElementById(panelId);
          panel.appendChild(section);
        }
        vis = "block"
      }
      section.style.display = vis;
      document.getElementById("details_content").innerHTML = " Checkbox: "+chkbox.value;
    }
  </script>
</div>
