<%
  modal_id = "confirm-cancel-certification"
%>
<section class="cf-modal" id="<%= modal_id %>" role="alertdialog" aria-labelledby="<%= modal_id %>-title" aria-describedby="<%= modal_id %>-desc">

  <div class="cf-modal-body">
    <!-- Modal box messaging -->
    <div class="modal-container">
        <button type="button" class="cf-modal-close cf-action-closemodal">
          <%=svg_icon(:close)%>
        </button>
        <p class="cf-modal-title" id="<%= modal_id %>-title">Cancel certification</p>
        <p>
          <div class="cf-modal-segment" id="<%= modal_id %>-desc">
            Please explain why this case cannot be certified with Caseflow. Once you click Cancel Certification, changes made to this case in Caseflow will not be saved.
          </div><br/>
        </p>
        <p>
            <div class="cf-modal-segment">Why can't be this case certified in Caseflow?<span class='cf-required'> (Required)</span>
                <span class="usa-input-error-message"></span>
                <fieldset class="usa-fieldset-inputs usa-sans">

                  <legend class="usa-sr-only">Cancelation Reasons</legend>

                  <ul class="usa-unstyled-list">
                    <li>
                      <input id="dates-reason" type="radio" checked name="cancelation-reasons" value="dates">
                      <label for="dates-reason">VBMS and VACOLS dates didn't match and couldn't be changed</label>
                    </li>
                    <li>
                      <input id="missing-document" type="radio" name="cancelation-reasons" value="missing-document">
                      <label for="missing-document">Missing document could not be found</label>
                    </li>
                    <li>
                      <input id="pending-request" type="radio" name="cancelation-reasons" value="pending-request">
                      <label for="pending-request">Pending FOIA request</label>
                    </li>
                    <li>
                      <input id="other-reason" type="radio" name="cancelation-reasons" value="other">
                      <label for="other-reason">Other</label>
                    </li>
                  </ul>
                </fieldset>
            </div>
          <div class="cf-modal-segment" id="other">Tell us more about your situation.<span class='cf-required'> (Required)</span>
            <span class="usa-input-error-message"></span>
            <textarea id="other-text"></textarea>
          </div>
        </p>
        <p>
          <div class="cf-modal-segment">What's your VA email address?<span class='cf-required'> (Required)</span>
            <span class="usa-input-error-message"></span>
            <input id="input-type-text" name="input-type-text" type="text">
          </div><br/><br/>
        </p>
        <p>
          <div class="cf-modal-segment">
            <a href="#" class="cf-modal-link cf-action-closemodal cf-push-left" data-controls="#<%= modal_id%>">&laquo; Go back</a>
            <a href="<%= cancel_certification_path(id: appeal.vacols_id) %>" class="cf-push-right usa-button usa-button-secondary">Cancel Certification</a>
          </div>
        </p>
    </div>
    <!-- /modal box messaging -->
  </div>
</section>
