<%
  modal_id = "confirm-cancel-certification"
%>
<section class="cf-modal" id="<%= modal_id %>" role="alertdialog" aria-labelledby="<%= modal_id %>-title" aria-describedby="<%= modal_id %>-desc">

  <div class="cf-modal-body">
    <!-- Modal box messaging -->
    <button type="button" class="cf-modal-close cf-action-closemodal">
      <%=svg_icon(:close)%>
    </button>
    <h1 class="cf-modal-title" id="<%= modal_id %>-title">Cancel certification?</h1>
    <p class="cf-modal-text" id="<%= modal_id %>-desc">
      Are you sure you can't certify this case? Any changes you made in Caseflow will not be saved and the certification date will not be set in VACOLS.
    </p>

    <div class="cf-push-row cf-modal-controls">
      <button type="button" class="usa-button-outline cf-action-closemodal cf-push-left" data-controls="#<%= modal_id%>">Go back</button>
      <a href="<%= cancel_certification_path(id: appeal.vacols_id) %>" class="cf-push-right usa-button usa-button-secondary">Yes, I'm sure</a>
    </div>
    <!-- /modal box messaging -->
  </div>
</section>
