<%#
  Partial requires arguments:
  - name: user facing name of the document
  - date: VACOLS date 
  - match: boolean representing if there is a matching document in VBMS
%>

<tr id="<%= name.downcase.parameterize %>-match">
  <td> <%= match ? svg_icon(:found) : svg_icon(:missing) %> </td>
  <td> <%= name %> </td>
  <td> <%= date.to_formatted_s(:short_date) %> </td>
  <td> <%= match ? date.to_formatted_s(:short_date) : "No Matching Document" %> </td>
</tr>
