<% content_for :page_title do certification_header("Mismatched Documents") end %>



<div class="cf-app-segment cf-app-segment--alt">
  <h2>Check Documents</h2>

  <div class="usa-alert usa-alert-error cf-app-segment" role="alert">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Cannot find documents in VBMS</h3>
      <p class="usa-alert-text">Some of the files listed in VACOLS could not be found in VBMS.</p>
    </div>
  </div>

   <div class="cf-table-wrap">
    <table class="usa-table-borderless cf-table-borderless" summary="Each row represents document mismatch">
      <caption class="usa-sr-only">
        This table compares received dates for forms stored in VACOLS and VBMS.
      </caption>

      <thead>
        <tr>
          <th><span class="usa-sr-only">Status</span>Found in VBMS?</th>
          <th>Document</th>
          <th>VACOLS date</th>
          <th>VBMS date</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'document_match', locals: { name: "NOD", match: appeal.nod_match?, date: appeal.nod_date } %>
        <%= render partial: 'document_match', locals: { name: "SOC", match: appeal.soc_match?, date: appeal.soc_date } %>

        <% appeal.ssoc_dates.each_index do |i| %>
          <%= render partial: 'document_match',
                     locals: { name: "SSOC #{i+1}", match: appeal.ssoc_match?(appeal.ssoc_dates[i]), date: appeal.ssoc_dates[i] } %>
        <% end %>

        <%= render partial: 'document_match', locals: { name: "Form 9", match: appeal.form9_match?, date: appeal.form9_date } %>
      </tbody>
    </table>
  </div>

  <p>
    Caseflow could not find the documents marked with an <%= svg_icon(:missing) %>
    in the appellant's eFolder. This usually happens when something doesn't match up. Try checking:
  </p>

  <ul>
    <li>The <strong>document type</strong> in VBMS to make sure it's <a href="<%= help_path %>#mismatched-documents">labeled correctly</a></li>
    <li>The <strong>document date</strong> &#8212; the date in VBMS must match the date in VACOLS</li>
  </ul>

  <p>
    Once you've made corrections,
    <button type="button" class="cf-action-refresh cf-btn-link cf-btn-link--inline">refresh this page</button>.
  </p>

  <p>
    If you can’t find the document, <a href="#confirm-cancel-certification" class="cf-action-openmodal cf-btn-link">cancel this certification.</a>
  </p>


</div>

<div class="cf-app-segment">
  <a href="#confirm-cancel-certification" class="cf-action-openmodal cf-btn-link">Cancel Certification</a>
  <button type="button" class="cf-push-right cf-action-refresh">Refresh page</button>
</div>

<%= render partial: 'cancel_certification_modal' %>
