<% content_for :page_title do %>Complete Electronic Form 8<% end %>

<script>
  $(document).ready(function() {
    window.Form8.init();
  });
</script>

<%= form_for @form8, url: { controller: "certifications", action: "create" },
                    html: { id: "form8", class: "cf-form cf-app-segment" },
                 builder: CaseflowFormBuilder do |f| %>

  <div class="usa-alert usa-alert-success cf-app-segment" role="alert">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">All documents detected!</h3>
      <p class="usa-alert-text">The Form 9, <abbr>NOD</abbr>, <abbr>SOC</abbr> and <abbr>SSOC</abbr>s (if applicable) were found in the eFolder.</p>
    </div>
  </div>

  <div class="cf-app-segment cf-app-segment--alt">
    <header>
      <h2>Complete Electronic Form 8</h2>
      <p>Caseflow pre-fills a Form 8 for each case using data from VACOLS and VBMS.
      To finish the form, answer the remaining questions. When you are done, click <strong>continue</strong>.</p>
    </header>

    <%= f.hidden_field :vacols_id %>

    <%= f.text_field :appellant_name,
          question_number: "1A", label: "Name of Appellant (If other than veteran):" %>

    <%= f.text_field :appellant_relationship,
          question_number: "1B", label: "Relationship to Veteran:" %>

    <%= f.text_field :file_number,
          question_number: "2", label: "File Number:", readonly: true %>

    <%= f.text_field :veteran_name,
          question_number: "3", label: "Full Veteran Name:" %>

    <%= f.text_field :insurance_loan_number,
          question_number: "4", label: "Insurance file number or loan number (if pertinent):" %>

    <div class="cf-form-cond-req">
      <%= f.text_area :service_connection_for,
            question_number: "5A", label: "Service connection for:", maxlength: 5500 %>

      <%= f.date_field :service_connection_notification_date,
            question_number: "5B", label: "Date of notification of action appealed:" %>
    </div>

    <div class="cf-form-cond-req">
      <%= f.text_area :increased_rating_for,
            question_number: "6A", label: "Increased rating for:", maxlength: 1000 %>

      <%= f.date_field :increased_rating_notification_date,
            question_number: "6B", label: "Date of notification of action appealed:" %>
    </div>

    <div class="cf-form-cond-req">
      <%= f.text_area :other_for,
            question_number: "7A", label: "Other:", maxlength: 1000 %>

      <%= f.date_field :other_notification_date,
            question_number: "7B", label: "Date of notification of action appealed:" %>
    </div>

    <%= f.radio_buttons_field :representative_type,
          values: ["Attorney", "Agent", "Organization", "None", "Other"],
          question_number: "8A", part: "2", label: "Representative Type:" %>

    <%= f.text_field :representative_type_specify_other,
          question_number: "8A", part: "3", label: "Specify other representative type:", secondary: true %>

    <%= f.text_field :representative_name,
          question_number: "8A", part: "1", label: "Representative Name:" %>

    <%= f.radio_buttons_field :power_of_attorney,
          values: ["POA", "Certification that valid POA is in another VA file"], inline: true,
          question_number: "8B", part: "1", label: "What is the authority for recognizing such representative in this appeal?" %>

    <%= f.text_field :power_of_attorney_file,
          question_number: "8B", part: "2", label: "Specify file if applicable:", secondary: true %>

    <%= f.yes_no_field :agent_accredited,
          question_number: "8C", label: "Is Agent on accredited list?" %>

    <%= f.yes_no_field :form_646_of_record,
          question_number: "9A", label: "Is VA Form 646, or equivalent, of record?" %>

    <%= f.text_field :form_646_not_of_record_explanation,
          question_number: "9B", label: "Why is the Form 646 not of record?" %>

    <%= f.yes_no_field :hearing_requested,
          question_number: "10A", label: "Was BVA hearing requested?" %>

    <%= f.yes_no_field :hearing_held,
          question_number: "10B", part: "1", label: "Was the hearing held?" %>

    <%= f.yes_no_field :hearing_transcript_on_file,
          question_number: "10B", part: "2", label: "Is the hearing transcript on file?", secondary: true %>

    <%= f.text_field :hearing_requested_explanation,
          question_number: "10C", label: "If requested, but not held, explain:", maxlength: 60 %>

    <%= f.yes_no_field :contested_claims_procedures_applicable,
          question_number: "11A", label: "Are contested claims procedures applicable in this case?" %>

    <%= f.yes_no_field :contested_claims_requirements_followed,
          question_number: "11B", label: "Have the requirements of 38 U.S.C. 7105A been followed for all contested claims?" %>

    <%= f.date_field :soc_date,
          question_number: "12A", label: "Date of statement of the case furnished:" %>

    <%= f.radio_buttons_field :ssoc_required,
          values: ["Required and furnished", "Not required"],
          question_number: "12B", label: "Supplemental statement of the case:" %>

    <%= f.check_box_group record_type_check_boxes,
          question_number: "13", label: "Records to be forwarded to Board of Veterans' Appeals:" %>

    <%= f.text_field :record_other_explanation,
          question_number: "13", part: "2", label: "Specify other:", secondary: true %>

    <%= f.text_area :remarks,
          question_number: "14", label: "Remarks:", maxlength: 5500 %>

    <%= f.text_field :certifying_office,
          question_number: "15", label: "Name and location of certifying office:", readonly: true %>

    <%= f.text_field :certifying_username,
          question_number: "16", label: "Organizational elements certifying appeal:", readonly: true %>

    <%= f.text_field :certifying_official_name,
          question_number: "17A", label: "Name of certifying official:" %>

    <%= f.radio_buttons_field :certifying_official_title,
          values: ["Decision Review Officer", "Rating Specialist", "Veterans Service Representative", "Claims Assistant", "Other"],
          question_number: "17B", part: "2", label: "Title of certifying official:" %>

    <%= f.text_field :certifying_official_title_specify_other,
          question_number: "17B", part: "3", label: "Specify other title of certifying official:", secondary: true %>

    <%= f.date_field :certification_date,
          question_number: "17C", label: "Date:", readonly: true %>
  </div>

  <div class="cf-app-segment">
    <%= loading_indicator %>

    <a href="#confirm-cancel-certification" class="cf-action-openmodal cf-btn-link">Cancel certification</a>
    <button type="submit" class="cf-push-right cf-submit">Preview Completed Form 8</button>
  </div>

  <%= render partial: 'cancel_certification_modal' %>
<% end %>
