<% content_for :page_title do %>Complete Electronic Form 8<% end %>

<%= form_for @form8, url: { controller: "certifications", action: "create" }, html: { class: "cf-form cf-app-segment" }, builder: CaseflowFormBuilder do |f| %>
  <div class="usa-alert usa-alert-success cf-app-segment" role="alert">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">All documents detected!</h3>
      <p class="usa-alert-text">The Form 9, <abbr>NOD</abbr>, <abbr>SOC</abbr> and <abbr>SSOC</abbr>s (if applicable) were found in the eFolder.</p>
    </div>
  </div>

  <div class="cf-app-segment cf-app-segment--alt">
    <header>
      <h2>Complete Electronic Form 8</h2>
      <p>Caseflow pre-fills a Form 8 for each case using data from VACOLS and VBMS.
      To finish the form, answer the remaining questions. When you are done, click <strong>continue</strong>.</p>
      <p class="cf-required-msg">Fields marked with a <strong class="cf-error">*</strong> are required.</p>
    </header>

    <%= f.hidden_field :vacols_id %>

    <%= f.text_field :appellant,
          question_number: "1A", label: "Name of Appellant (If other than veteran)" %>

    <%= f.text_field :appellant_relationship,
          question_number: "1B", label: "Relationship to Veteran" %>

    <%= f.text_field :file_number,
          question_number: "2", label: "File No.", readonly: true %>

    <%= f.text_field :veteran_name,
          question_number: "3", label: "Full Veteran Name", required: true %>

    <%= f.text_field :insurance_loan_number,
          question_number: "4", label: "Insurance file number or loan number (if pertinent)" %>


    <div class="cf-form-cond-req">
      <%= f.text_area :service_connection_for,
            question_number: "5A", label: "Service connection for:" %>

      <%= f.date_field :nod_date,
          question_number: "5B", label: "Date of notification of action appealed" %>
    </div>
  </div>

  <div class="cf-app-segment">
    <a href="#" class="cf-action-openmodal cf-btn-link">Cancel certification</a>
    <button type="submit" class="cf-push-right">Preview Completed Form 8</button>
  </div>
<% end %>
