<div>
  <%
    def task_leaf_to_html(task)
      task.each do |task_type, task_atts|
  %>
    <% if false %><li><pre><%= task_atts.pretty_inspect %></pre></li><% end %>

    <% if task_atts[:tasks].present? and task_atts[:tasks].any? %>
      <li class="task-name">
        <span class="caret caret-down">
          <%= task_type %> <%= task_atts["id"] %> [<%= task_atts["status"] %>]
        </span>
        <ul class="nested active">
          <li class="task-atts"><% task_attribute_table(task_atts) %></li>
          <% task_atts[:tasks].each { |leaf| task_leaf_to_html(leaf) } %>
        </ul>
      </li>
    <% else %>
      <li class="task-name"><%= task_type %> <%= task_atts["id"] %> [<%= task_atts["status"] %>]</li>
      <li class="task-atts"><% task_attribute_table(task_atts) %></li>
    <% end %>
  <%
      end
    end
  %>

  <% def task_attribute_table(task_atts) %>
    <dl>
    <% task_atts.reject { |k, v| k == :tasks }.each do |key, value| %>
      <dt><%= key %></dt>
      <dd><%= value || "[]" %></dd>
    <% end %>
    </dl>
  <% end %>

  <%# #########  main block ########## %>

  <ul id="cf-task-tree">
    <% task_tree_as_json.each do |appeal_type, tree| %>
    <li>
      <span>
        <%= appeal_type %> <%= tree[:id] %>
        <b><%= appeal.veteran_full_name %> (<%= appeal.veteran_file_number %>)</b>
      </span>
    </li>
    <ul class="nested active">
      <% tree[:tasks].each do |task| %>
        <% task_leaf_to_html(task) %>
      <% end %>
    <% end %>
    </ul>
  </ul>

  <%= javascript_include_tag 'task-tree' %>
  <script type="text/javascript">
    $(".caret").on("click", function() {
      let clicked = $(this);
      clicked.parent().find(".nested").toggleClass("active");
      clicked.toggleClass("caret-down");
    });
  </script>
</div>
