<% content_for :page_title do %>&nbsp &gt &nbspDispatch Dashboard<% end %>

<% content_for :head do %>
    <%= javascript_include_tag 'stats' %>
    <script>
        $(function() {
            window.Dashboard.init({
                data: <%= raw json %>,
                interval: "<%= interval %>"
            })
        })
    </script>
<% end %>

<div class="cf-app-segment cf-app-segment--alt">
  <div class="cf-stats">
    <ul class="cf-tab-navigation">
      <% DispatchStats::INTERVALS.each do |interval| %>
          <li class="cf-tab <%= (@stats[0].interval == interval) && "cf-active" %>">
          <span>
            <span>
              <%= link_to interval.to_s.capitalize, dispatch_stats_path(interval) %>
            </span>
          </span>
          </li>
      <% end %>
    </ul>

    <div class="cf-stats-section -activity">
      <h3>Establish Claim Tasks Identified from VACOLS <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="establish_claim_identified">
        <h4 class="cf-stat-title">
          All
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_identified">
          <%= @stats[0].values[:establish_claim_identified] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_identified_full_grant">
        <h4 class="cf-stat-title">
          Full Grants
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_identified_full_grant">
          <%= @stats[0].values[:establish_claim_identified_full_grant] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_identified_partial_grant_remand">
        <h4 class="cf-stat-title">
          Partial Grants & Remands
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_identified_partial_grant_remand">
          <%= @stats[0].values[:establish_claim_identified_partial_grant_remand] %>
        </div>
      </div>
    </div>


    <div class="cf-stats-section -activity">
      <h3>Establish Claim Task Activity <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="establish_claim_active_users">
        <h4 class="cf-stat-title">
          Active Users
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_active_users">
          <%= @stats[0].values[:establish_claim_active_users] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_started">
        <h4 class="cf-stat-title">
          Establish Claim Tasks Started
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_started">
          <%= @stats[0].values[:establish_claim_started] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_completed_success">
        <h4 class="cf-stat-title">
          Establish Claim Tasks Completed
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_completed_success">
          <%= @stats[0].values[:establish_claim_completed_success] %>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -certification">
      <h3>Establish Claim Task Completion Rate <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="establish_claim_completed_success/establish_claim_completed">
        <h4 class="cf-stat-title">
          All
        </h4>
        <div class="cf-stat-figure data-rate" data-key="establish_claim_completed_success/establish_claim_completed">
          <%= format_rate_stat(:establish_claim_completed_success, :establish_claim_completed) %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_completed_success_full_grant/establish_claim_full_grant_completed">
        <h4 class="cf-stat-title">
          Full Grants
        </h4>
        <div class="cf-stat-figure data-rate" data-key="establish_claim_completed_success_full_grant/establish_claim_full_grant_completed">
          <%= format_rate_stat(:establish_claim_completed_success_full_grant, :establish_claim_full_grant_completed) %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_completed_success_partial_grant_remand/establish_claim_partial_grant_remand_completed">
        <h4 class="cf-stat-title">
          Partial Grants & Remands
        </h4>
        <div class="cf-stat-figure data-rate" data-key="establish_claim_completed_success_partial_grant_remand/establish_claim_partial_grant_remand_completed">
          <%= format_rate_stat(:establish_claim_completed_success_partial_grant_remand, :establish_claim_partial_grant_remand_completed) %>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -timing">
      <h3>Time to Claim Establishment <span class="data-date"></span></h3>

      <div class="cf-stat-panel -toggle"
           role="button" tabindex="0"
           aria-label="Switch between median and 95th percentile statistics">
        <div class="cf-stat-option active data-chart" data-key="median_time_to_establish_claim">
          <h4 class="cf-stat-title">
            All (median)
          </h4>
          <div class="cf-stat-figure data-time" data-key="median_time_to_establish_claim">
            <%= format_time_duration_stat(@stats[0].values[:median_time_to_establish_claim]) %>
          </div>
        </div>
        <div class="cf-stat-option data-chart" data-key="time_to_establish_claim">
          <h4 class="cf-stat-title">
            All (95th percentile)
          </h4>
          <div class="cf-stat-figure data-time" data-key="time_to_establish_claim">
            <%= format_time_duration_stat(@stats[0].values[:time_to_establish_claim]) %>
          </div>
        </div>
      </div>
      <div class="cf-stat-panel -toggle"
           role="button" tabindex="0"
           aria-label="Switch between median and 95th percentile statistics">
        <div class="cf-stat-option active data-chart" data-key="median_time_to_establish_claim">
          <h4 class="cf-stat-title">
            Full Grants (median)
          </h4>
          <div class="cf-stat-figure data-time" data-key="median_time_to_establish_claim">
            <%= format_time_duration_stat(@stats[0].values[:median_time_to_establish_claim_full_grants]) %>
          </div>
        </div>
        <div class="cf-stat-option data-chart" data-key="time_to_establish_claim">
          <h4 class="cf-stat-title">
            Full Grants (95th percentile)
          </h4>
          <div class="cf-stat-figure data-time" data-key="time_to_establish_claim">
            <%= format_time_duration_stat(@stats[0].values[:time_to_establish_claim_full_grants]) %>
          </div>
        </div>
      </div>
      <div class="cf-stat-panel -toggle"
           role="button" tabindex="0"
           aria-label="Switch between median and 95th percentile statistics">
        <div class="cf-stat-option active data-chart" data-key="median_time_to_establish_claim">
          <h4 class="cf-stat-title">
            Partial Grants & Remands (median)
          </h4>
          <div class="cf-stat-figure data-time" data-key="median_time_to_establish_claim">
            <%= format_time_duration_stat(@stats[0].values[:median_time_to_establish_claim_partial_grants_remands]) %>
          </div>
        </div>
        <div class="cf-stat-option data-chart" data-key="time_to_establish_claim">
          <h4 class="cf-stat-title">
            Partial Grants & Remands (95th percentile)
          </h4>
          <div class="cf-stat-figure data-time" data-key="time_to_establish_claim">
            <%= format_time_duration_stat(@stats[0].values[:time_to_establish_claim_partial_grants_remands]) %>
          </div>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -missing">
      <h3>Establish Claim Tasks Canceled <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="establish_claim_canceled">
        <h4 class="cf-stat-title">
          All
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_canceled">
          <%= @stats[0].values[:establish_claim_canceled] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_canceled_full_grant">
        <h4 class="cf-stat-title">
          Full Grants
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_canceled_full_grant">
          <%= @stats[0].values[:establish_claim_canceled_full_grant] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_canceled_partial_grant_remand">
        <h4 class="cf-stat-title">
          Partial Grants & Remands
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_canceled_partial_grant_remand">
          <%= @stats[0].values[:establish_claim_canceled_partial_grant_remand] %>
        </div>
      </div>
    </div>

    <div class="cf-stats-section -activity">
      <h3>Establish Claim Tasks with Decisions Uploaded to VBMS <span class="data-date"></span></h3>

      <div class="cf-stat-panel data-chart" data-key="establish_claim_identified">
        <h4 class="cf-stat-title">
          All
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_identified">
          <%= @stats[0].values[:establish_claim_identified] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_identified_full_grant">
        <h4 class="cf-stat-title">
          Full Grants
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_identified_full_grant">
          <%= @stats[0].values[:establish_claim_identified_full_grant] %>
        </div>
      </div>
      <div class="cf-stat-panel data-chart" data-key="establish_claim_identified_partial_grant_remand">
        <h4 class="cf-stat-title">
          Partial Grants & Remands
        </h4>
        <div class="cf-stat-figure data-value" data-key="establish_claim_identified_partial_grant_remand">
          <%= @stats[0].values[:establish_claim_identified_partial_grant_remand] %>
        </div>
      </div>
    </div>

  </div>
</div>
