<%= content_for :intro do %>
  <p>Dear <%= @sent_hearing_email_event.sent_by&.full_name %></p>

  <p>An email failed to send please take appropriate action.</p>
<% end %>

<%= content_for :email_and_hearing_info do %>
  <ul>
    <li>Email Recipient: <%= @sent_hearing_email_event.recipient_role%></li>
    <li>Email Type: <%= @sent_hearing_email_event.email_type%></li>
    <li>Hearing Info: <%= [@hearing.scheduled_for, @hearing.request_type, @hearing.judge&.full_name]%></li>
  </ul>
<% end %>

<%= content_for :link do %>
  <p><%= external_link caseflow_url(@hearing&.appeal), display_text: "Click here" %> to update their email in Caseflow.</p>
<% end %>