<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Merriweather" rel="stylesheet" type="text/css">

  <title>Caseflow Certification</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <%if Rails.env.production?%>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74789258-1', 'auto');
        ga('send', 'pageview');

        <%(@ga_events||[]).each do |ga_event|%>
        ga('send', <%=raw(ga_event.to_json)%>);
        <%end%>
      </script>
  <%end%>
</head>
<body>
  <header>
    <nav class="cf-nav">
      <div class="usa-grid-full">
        <h1 class="cf-logo">Caseflow</h1>
        <h2 id="page-title" class="cf-application-title"><%= yield :page_title %></h2>

        <% if current_user.ssoi_authenticated? %>
          <div class="cf-dropdown cf-nav-dropdown">
            <a href="#menu" class="cf-dropdown-trigger" id="menu-trigger">
              <%= current_user.display_name %>
            </a>

            <ul id="menu" class="cf-dropdown-menu" aria-labeledby="menu-trigger">
              <li><a href="/help">Help</a></li>
              <li><a href="https://vaww.vaco.portal.va.gov/sites/BVA/olkm/DigitalService/Lists/Feedback/NewForm.aspx" target="_blank">Send Feedback</a></li>
              <li><a id="whats-new-item"<%if @show_whats_new_indicator%> class="cf-nav-whatsnew"<%end%> href="<%= url_for controller: 'whats_new', action: 'show'%>">What's New?</a></li>
              <li>
                <a href="<%= url_for controller: 'sessions', action: 'destroy', id: nil %>">Sign out</a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
  </header>

  <main class="usa-grid">
    <div class="cf-app">
      <%= yield(:content) if content_for?(:content) %>
      <%= yield %>
    </div>
  </main>

  <footer class="cf-txt-c usa-grid cf-app-footer">
    <div class="cf-push-left">
      Built with <abbr title="love">&#9825;</abbr> by the
      <a href="http://www.va.gov/ds/">Digital Service at the <abbr title="Department of Veterans Affairs">VA</abbr></a>.
    </div>

    <div class="cf-push-right">
      <a target="_blank" href="https://vaww.vaco.portal.va.gov/sites/BVA/olkm/DigitalService/Lists/Feedback/NewForm.aspx">
        Send feedback
      </a>
    </div>
  </footer>
</body>
</html>
