<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Merriweather" rel="stylesheet" type="text/css">

  <title>Caseflow Certification</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
  <header>
    <div class="cf-notice">
      <strong>Caseflow is a new project and we are still working on making it helpful and useful.</strong>
      Have a question, feature improvement, or problem?

      <a target="_blank" href="https://vaww.vaco.portal.va.gov/sites/BVA/olkm/DigitalService/Lists/Feedback/NewForm.aspx">
        Send feedback
      </a>
    </div>

    <nav class="cf-nav">
      <div class="usa-grid-full">
        <h1 class="cf-logo">Caseflow</h1>
        <h2 id="page-title" class="cf-application-title"><%= yield :page_title %></h2>

        <div class="cf-dropdown cf-nav-dropdown">
          <!-- NAVBAR GOS HERE! -->
        </div>
      </div>
    </nav>
  </header>

  <main class="usa-grid">
    <div class="cf-app">
      <%= yield(:content) if content_for?(:content) %>
      <%= yield %>
    </div>
  </main>

  <footer class="cf-txt-c usa-grid cf-app-footer">
    <div class="cf-push-left">
      Built with <abbr title="love">&#9825;</abbr> by the
      <a href="http://www.va.gov/ds/">Digital Service at the <abbr title="Department of Veterans Affairs">VA</abbr></a>.
    </div>

    <div class="cf-push-right">
      <a target="_blank" href="https://vaww.vaco.portal.va.gov/sites/BVA/olkm/DigitalService/Lists/Feedback/NewForm.aspx">
        Send feedback
      </a>
    </div>
  </footer>
</body>
</html>