<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      p { margin-top: 5px;
          margin-bottom: 5px;}
    </style>
  </head>
  <body>
    <p>
      <p>Attn:</p>
      <br>
      <p>Caseflow attempted to <%= @details[:action] %> <%= @details[:action_object] %> <%= @details[:direction] %> <%= @details[:provider] || @details[:conversion_type] %> and received a fatal error.</p>
        <br>
      <% if @details[:error] == Hearings::DownloadTranscriptionFileJob::FileNameError %>
        Unable to parse hearing information from file name: <%= @details[:file_name] %>
        <br>
        Expected File Name Format: [docket_number]_[internal_id]_[hearing_type].[file_type]
        <br>
      <% else %>
        Docket Number: <%= @details[:docket_number] %>
          <br>
          <% if @details[:times].present? %>
            <%= @details[:times] %>
          <% elsif @details[:action_object_id].present?%>
            <%= @details[:action_object].titlecase%> ID: <%= @details[:action_object_id]%>
          <% else %>
            <a href="<%= @case_link %>">Case Details</a>
          <% end %>
          <br>
        <% if @details[:api_call].present? %>
          <br>
          <p>API Call: <%= @details[:api_call] %>
          <br>
          Response: <%= @details[:response] %></p>
        <% end %>
      <% end %>
      <br>
      <% if @details[:error] == TranscriptionTransformer::FileConversionError ||
            @details[:error] == TranscriptionFileUpload::FileUploadError %>
          Please investigate this issue further to ensure Caseflow supplied with necessary files. Direct any questions to OITAppealsHelpDesk@va.gov.
      <% else %>
          Please investigate this issue further to ensure continued communication between Caseflow and <%= @details[:provider] %>. Direct any questions to OITAppealsHelpDesk@va.gov.
      <% end %>
    </p>
  </body>
</html>
